@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

/* Header 
----------------------------------------------------------*/
.header{
    display: flex;
    flex-direction: column;
    padding: v.$separacion 0;
    align-items: center;
    @include m.desktop{ 
        flex-direction: row;
        justify-content: space-between;
    }
    &__logo{
        width: 30rem;
    }
}
